html  {
  scroll-behavior: smooth;
}

body  {
  font-family: manrope;
  margin: 0%;
}
footer  {
  padding: 10px;
  color: rgba(82, 145, 184, .7);
  background-color: rgba(164, 225, 243, 0.7);
  text-align: center;
  display: inline-block;
}
img {
  width: 1000px;
}
h1  {
  font-size: 6em;
  word-wrap: break-word;
  letter-spacing: 1rem;
}
@media screen and (max-width: 576px) {
  h1  {
    font-size: 1rem;
  }
}
  
h4  {
  font-size: 2em;
  color: #fff;
  font-style: italic;
}
h2  {
  font-style: italic;
}

a {
  text-decoration: none;
}

/* nav */
.nav-bar  {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 5px;
  left: 0;
  font-size: 1em;
  z-index: 100;
}
.nav-bar a {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  opacity: .8;
  text-align: center;
  color: rgba(82, 145, 184, .7);
  background: rgba(164, 225, 243, 0.7);
  border-radius: 10%;
}
.nav-bar a:hover  {
  background-color: rgba(82, 145, 184, .7);
  color: white;
}
@media screen and (max-width: 576px) {
  .nav-bar a {
    width: 25%;
    margin: 0;
    top: 0px;
    border-radius: 0%;
  }
}
/* popup contact menu */
#contact  {
  display: none;
  position: fixed;
  left: 80%;
  top: 65vh;
  width: 15vw;
  background-color: rgba(164, 225, 243, 0.7);
  color:rgba(82, 145, 184, .7);
  border-radius: 3%;
  z-index: 100;
}
.form-btn {
  color: rgba(82, 145, 184, .7);
  background: rgba(164, 225, 243, 0.7);
  border: 1px solid rgba(82, 145, 184, .7); 
}

.form-btn:hover {
  color: white;
  background: rgba(82, 145, 184, .7);
}

input[type="text"] {
  width: 100%;
  border: 1px solid rgba(164, 225, 243, 0.7);
  background-color: rgba(255, 255, 255, 0.5);
}

input[type="text"]:hover {
  border: 3px solid rgba(82, 145, 184, .7);
}

form {
  text-align: left;
}

/* sticky contact button */
#contact-btn  {
  position: fixed;
  left: 80%;
  top: 85vh;
  z-index: 100;
  width: 15vw;
  height: 3vw;
  background-color: rgba(82, 145, 184, .3);
  color: rgba(82, 145, 184, .7);
  cursor: pointer;
  border: 2px solid rgba(164, 225, 243, 0.7);
}
#contact-btn:hover  {
  background-color: rgba(82, 145, 184, .7);
  color: white;
}

/* home */
#home {
  height: 100vh;
}
.video {
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
@media screen and (max-width: 576px) {
  .video {
    display: none;
  }
}
.text-overlay {
  position: relative;
  width: 100%;
  color: rgba(82, 145, 184, .7);
  text-align: center;
  margin-top: 15%;
  animation: move_video_text 2s;
}
@keyframes move_video_text {
  from {left: -100vw;}
  to {left: 0vw;}
}

/* skills slideshow */
#slideshow  {
  position: relative;
  padding-top: 100px;
}

/* creates a 500px container for slides and centers it */
.slideshow-container  {
  margin: auto;
  width: 500px;
  height: 500px;
  margin-bottom: 100px;
}

/* slide default is hidden */
.slides {
  display: none;
}

/* sizing/styling/positioning of images */
.slides img  {
  width: 500px;
  height: 500px;
  opacity: .8;
  position: absolute;
  border-radius: 20px;
  border: 3px solid rgba(164, 225, 243, 0.7);
  box-shadow: -10px 10px 10px 10px rgba(82, 145, 184, .3);
  filter: saturate(50%);
}

/* removes image filter on hover */
.slides img:hover {
  filter: none;
}

/* control button styling */
.prev, .next {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(82, 145, 184, .7);
  border: none;
  font-size: 2em;
  position: relative;
  top: 50%;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.next {
  left: 380px;
}

/* caption positioning/styling */
.caption  {
  position: absolute;
  bottom: 0px;
  height: 40px;
  width: 500px;
  color: white;
  text-align: center;
  background: rgba(82, 145, 184, .7);
}

/* about */
* {
  box-sizing: border-box;
}
.name {
  font-size: 2em;
}
.row  {
  width: 100%;
  background-color: #fff;
}
.row:after  {
  content: "";
  display: table;
  clear: both;
}
.col_img  {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
  padding-left: 5px;
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
.col_text {
  float: left;
  width: 50%;
  color: rgba(82, 145, 184, .7);
  padding: 20px;
  height: 500px;
  position: relative;
  text-align: center;
  background-color: #fff;
  overflow: auto;
}

.col-overlay  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* footer */
.footer-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  color: rgba(82, 145, 184, .7);
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 50px;
  font-size: 1em;
  z-index: 100;
}

